.WeatherForcast {
    text-align: center;
    padding: 7px;
    color: #85919f;
}
.WeatherForcast img {
margin: 7px auto;
width: 100%;
padding: 0;
}
.WeatherForcast .smallText {
    font-size: 14px;
    opacity: 70%;
}
.WeatherForcast .biggerText {
    font-size: 16px;
}