.Weather {
   border: 1px solid #85919f;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: #85919f;
   background-color: #eafcfd;
   padding: 16px;
   margin: 30px auto 5px auto;
   border-radius: 5px;
}
.Weather .buttonstyle{
    background-color: rgb(247, 247, 170);
    color: black;
}
.Weather .buttonstyle:hover {
    background-color: rgb(103, 245, 255);
    border: 1px solid black;
    color: black;
}
.Weather h1{
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
    margin: 16px 0 0 0;
}
.Weather ul{
    margin: 0 0 16px 0;
    padding: 0;
}
.Weather li{
    list-style: none;
    line-height: 19px;
    font-size: 16px;
    font-weight: 100;
}
.Weather img{
    border-radius: 50%;
    margin-right: 16px;
}
.Weather .temprature {
    font-weight: bold;
    color: black;
    font-size: 64px;
    line-height: 64px;
    margin-left: 5px;
    font-weight: 400;
    margin-left: 16px;
}
.Weather .unit {
    color: black;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -30px;
}
